<div class="profile-details">
    <div class="profile-photo">
        <img src="defaultprofilephoto.png" alt="Profile Photo" class="photo">
    </div>
    <div class="profile-info">
        <h2 class="fullname">{{user?.full_name}}</h2>
        <p class="username">{{user?.username}}</p>
    </div>
    <div class="profile-stats">
        <div class="stat-item">
            <h3>Reviews</h3>
            <p class="stat-number">0</p>
        </div>
        <div class="stat-item">
            <h3>Reading List</h3>
            <p class="stat-number">0</p>
        </div>
        <div class="stat-item">
            <h3>Favorites</h3>
            <p class="stat-number">0</p>
        </div>
    </div>
</div>
<div class="feed-container">
    <div *ngFor="let review of reviews" class="review-card">
        <div class="review-author">
            <p class="author-paragraph">You wrote:</p>
        </div>
        <div class="review">
            <p class="review-text">{{ review.review_content }}</p>
        </div>
        <div class="book-info">
            <img [src]="review.book_photo" alt="{{ review.book_title }}" class="book-photo">
            <div class="review-content">
                <h3 class="book-title">{{ review.book_title }}</h3>
                <p class="book-author">By {{ review.book_author }}</p>
                <div class="review-actions">
                    <button class="details-button">
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
