<div class="profile-details">
    <app-error></app-error>
    <app-loading *ngIf="isLoading"></app-loading>
    <ng-container *ngIf="!isLoading">
        <div class="profile-photo">
            <img src="defaultprofilephoto.png" alt="Profile Photo" class="photo">
        </div>
        <div class="profile-info">
            <h2 class="fullname">{{user?.full_name}}</h2>
            <p class="username">{{ '@' + user?.username }}</p>
        </div>
        <div class="profile-stats">
            <div class="stat-item">
                <h3 class="stat-name">Reviews</h3>
                <p class="stat-number">{{numberOfReviews}}</p>
            </div>
            <div class="stat-item">
                <h3 class="stat-name">Reading List</h3>
                <p class="stat-number">{{readingListCount}}</p>
            </div>
            <div class="stat-item">
                <h3 class="stat-name">Favorites</h3>
                <p class="stat-number">{{favoritesCount}}</p>
            </div>
        </div>
    </ng-container>
</div>
<div class="feed-container">
    <app-loading *ngIf="isLoading"></app-loading>
    <div *ngFor="let review of reviews" class="review-card">
        <div class="review-author">
            <p class="author-paragraph">You wrote:</p>
        </div>
        <div class="review">
            <p class="review-text">{{ review.review_content }}</p>
        </div>
        <div class="book-info">
            <img [src]="review.book_photo" alt="{{ review.book_title }}" class="book-photo">
            <div class="review-content">
                <h3 class="book-title">{{ review.book_title }}</h3>
                <p class="book-author">By {{ review.book_author }}</p>
                <div class="review-actions">
                    <button class="details-button" (click)="showDetails(review.id)">
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>