<div class="review-details-container" *ngIf="review">
    <div class="review-content">
        <div class="review-header">
            <div class="left">
                <h2 class="reviewby-heading">Review by {{ review.creator.username }}</h2>
                <div class="review-text">
                    <p>{{ review.review_content }}</p>
                </div>
            </div>
            <div class="review-actions">
                <button class="edit-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="#E7DED0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path>
                        <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                    </svg>
                </button>
                <button class="delete-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="#E7DED0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M3 6h18"></path>
                        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="book-info">
            <img [src]="review.book_photo" [alt]="review.book_title" class="book-cover">
            <div class="book-details">
                <h1>{{ review.book_title }}</h1>
                <p class="author">By {{ review.book_author }}</p>
            </div>
        </div>
    </div>
</div>