<div class="favorites-shelf-container">
    <app-loading *ngIf="isLoading"></app-loading>
    <ng-container *ngIf="!isLoading">
        <div *ngIf="books.length === 0" class="empty-list">
            <p>Your favorites shelf is empty.</p>
        </div>
        <div *ngFor="let row of bookRows" class="shelf">
            <div class="book-container">
                <div *ngFor="let book of row" class="book-card" [routerLink]="['/book-details', book.id]">
                    <img [src]="book.thumbnail" [alt]="book.title" class="book-thumbnail" />
                </div>
            </div>
        </div>
    </ng-container>
</div>