.feed-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.author-paragraph {
    color: #DAC09B;
    font-style: italic;
    font-size: 1.4em;
    font-weight: bolder;
}

.card {
    width: 100%;
    box-sizing: border-box;
}