.feed-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.author-paragraph {
    color: #DAC09B;
    font-style: italic;
    font-size: 1.4em;
    font-weight: bolder;
}

.review-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #9F825B;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: calc(50% - 50px);
}

.review {
    border-bottom: 1px solid #E7DED0;
}

.review-text {
    padding-bottom: 20px;
}

.book-info {
    display: flex;
    gap: 20px;
}

.book-photo {
    width: 300px;
    height: 400px;
    /* max-width: 300px; */
    object-fit: cover;
    border-radius: 5px;
}

.review-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-title {
    font-size: 1.5em;
    color: #E7DED0;
}

.book-author {
    font-size: 1.2em;
    color: #D0BCA0;
}

.review-text {
    font-size: 1em;
    color: #E7DED0;
}

.review-actions {
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.like-button,
.details-button {
    padding: 10px 50px;
    font-size: 1em;
    font-weight: bold;
    color: #E7DED0;
    background-color: #82614A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-button:hover,
.details-button:hover {
    background-color: #D0BCA0;
}