<div class="book-details-container">
    <div *ngIf="loading" class="loading">
        Loading... <!--TODO Loading-->
    </div>

    <div *ngIf="error" class="error">
        {{ error }}
    </div> <!--TODO Add Error Handling-->
    <div *ngIf="!loading && !error && book" class="book-content">
        <button routerLink="/public-library" class="back-button">← Back to Library</button>

        <div class="book-header">
            <img [src]="book.volumeInfo?.imageLinks?.thumbnail || placeholderImage" [alt]="book.volumeInfo?.title"
                class="book-cover">

            <div class="book-info">
                <h1>{{ book.volumeInfo?.title }}</h1>
                <p *ngIf="book.volumeInfo?.authors" class="authors">
                    By {{ book.volumeInfo.authors.join(', ') }}
                </p>

                <div class="metadata">
                    <span *ngIf="book.volumeInfo?.publishedDate">
                        Published: {{ book.volumeInfo.publishedDate }}
                    </span>
                    <span *ngIf="book.volumeInfo?.pageCount">
                        Pages: {{ book.volumeInfo.pageCount }}
                    </span>
                </div>

                <div *ngIf="book.volumeInfo?.categories" class="categories">
                    <span *ngFor="let category of book.volumeInfo.categories" class="category-tag">
                        {{ category }}
                    </span>
                </div>
                <div class="interactions-buttons">
                    <button class="add-to-reading-list"><svg width="28" height="28"
                            viewBox="0 0 24 24" fill="none" stroke="#e7ded0" stroke-width="2.5" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                            <polyline points="22 4 12 14.01 9 11.01"></polyline>
                        </svg></button>
                    <button class="favorites"><svg width="28" height="28" viewBox="0 0 24 24" fill="none"
                            stroke="#e7ded0" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            <polygon
                                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                            </polygon>
                        </svg></button>
                    <button class="review" (click)="openModal()"><svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#e7ded0"
                            stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path>
                            <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                        </svg></button>
                </div>
            </div>
        </div>

        <div class="book-description" *ngIf="book.volumeInfo?.description">
            <h2>Description</h2>
            <p [innerHTML]="book.volumeInfo.description"></p>
        </div>

        <div class="additional-info">
            <div *ngIf="book.volumeInfo?.publisher">
                <h2>Publisher</h2>
                <p>{{ book.volumeInfo.publisher }}</p>
            </div>

            <div *ngIf="book.volumeInfo?.language">
                <h2>Language</h2>
                <p>{{ book.volumeInfo.language | uppercase }}</p>
            </div>

            <div *ngIf="book.volumeInfo?.industryIdentifiers">
                <h2>ISBN</h2>
                <p *ngFor="let identifier of book.volumeInfo.industryIdentifiers">
                    {{ identifier.type }}: {{ identifier.identifier }}
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal">
        <button type="button" (click)="closeModal()" class="close-button">←</button>
        <h2 class="modal-heading">Write a review on "{{book.volumeInfo?.title}}"</h2>
        <form class="modal-form">
            <div class="form-group">
                <textarea 
                    id="review_text" 
                    name="review_text"
                    placeholder="Write your review..."
                    class="review_textarea"
                    required 
                    ngModel></textarea>
            </div>
            <button type="submit" class="post-button">Post</button>
        </form>
    </div>
</div>