<div class="page-container">
    <div class="container">
        <form #LoginForm="ngForm" (ngSubmit)="loginSubmitHandler()" class="form">
            <div class="input-group">
                <label htmlFor="username">Username</label>
                <input type="text" id="username" name="username" required ngModel/>
            </div>

            <div class="input-group">
                <label htmlFor="password">Password</label>
                <input type="password" id="password" name="password" required ngModel/>
            </div>

            <button type="submit" class="submit-button">Login</button>
        </form>
    </div>
</div>
