.public-library-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.upper {
    padding: 30px;
    border-bottom: 1px solid #E7DED0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.public-library-heading {
    font-size: 3em;
    color: #E7DED0;
    font-weight: 800;
}

.search-form {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid #E7DED0;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.submit-button {
    padding: 10px 30px;
    font-size: 1.1em;
    font-weight: 800;
    color: #E7DED0;
    background-color: #9F825B;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #D0BCA0;
}

.books-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    overflow-y: scroll;
    flex-grow: 1;
    height: 0;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.books-grid::-webkit-scrollbar {
    display: none;
}