<div class="reading-list-container">
  <app-error></app-error>
  <app-loading *ngIf="isLoading"></app-loading>

  <ng-container *ngIf="!isLoading">
    <div *ngIf="books?.length === 0" class="empty-list">
      <p class="empty">Your reading list is empty.</p>
    </div>

    <div *ngFor="let book of books" class="book-card" [routerLink]="['/book-details', book.id]">
      <img [src]="book.thumbnail" [alt]="book.title" class="book-thumbnail" />
      <div class="book-details">
        <h3>{{ book.title }}</h3>
        <p>By {{ book.author }}</p>
      </div>
    </div>
  </ng-container>
</div>